<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="user-scalable=no, width=device-width, initial-scale=1">
<link rel="icon" href="img/dinow.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Empresaurios</title>
</head>
<body>
	<!--     Inicio Header -->
	<div th:insert="layouts/menu :: menu"></div>
	<!--    Fin Header -->
<!--    Inicio Contendeor 1 -->
	
	<div class="container">
		<div class="row m-0 p-5">
			<!--    Inicio Section Form -->
			<div class="col-12 col-sm-12 col-md-9 col-lg-9 bg-light p-3">
			
				<form th:action="@{/form/saveOrder}" th:object="${order}" method="POST">
					
					<!-- <input type="hidden" th:field="*{productCode}"> --> 
				
					<div class="mb-3">
						<label for="orderDate" class="form-label">Fecha de Orden</label>
						<input type="date" class="form-control" id="orderDate" th:field="*{orderDate}">
					</div>
					
					<div class="mb-3">
						<label for="requiredDate" class="form-label">Fecha de Llegada</label>
						<input type="date" class="form-control" id="requiredDate" th:field="*{requiredDate}">
					</div>
					
					<div class="mb-3">
						<label for="shippedDate" class="form-label">Fecha de envio</label>
						<input type="date" class="form-control" id="shippedDate" th:field="*{shippedDate}">
					</div>
					
					<div class="mb-3">
						<label for="status" class="form-label">Estado</label>
						<input type="text" class="form-control" id="status" th:field="*{status}">
					</div>
					
					<div class="mb-3">
						<label for="comments" class="form-label">Comentario</label>
						<input type="text" class="form-control" id="state" th:field="*{comments}">
					</div>
					
					<div class="mb-3">
						  <label for="customer" class="form-label">Cliente:</label>
						    <select id="customer" th:field="*{customerNumber}">
						    	<option th:each="cust: ${customers}" th:value="${cust.customerNumber}" th:text="${cust.customerName}" th:selected="false">
						    </select>
					</div>
					
					<div class="mb-3">
						  <label for="employee" class="form-label">Empleado a cargo:</label>
						    <select id="employee" th:field="*{customerNumber.employee}">
						    	<option th:each="emp: ${employees}" th:value="${emp.employeeNumber}" th:text="${emp.lastName}" th:selected="false">
						    </select>
					</div>
					
					
					<div class="form-group col-12"><br>
						 <button type="submit" style="background: #178C71;" class="btn text-light">Guardar</button>
					</div>
				
				</form>

			</div>
		</div>
	</div>
 
<!--    Inicio Contendeor 2 -->

	<div class="card text-center">
		<div class="card-header">Grupo Empresaurios</div>
		<div class="card-body">
			<h5 class="card-title">Alumnos</h5>
			<p class="card-text">Desarrollo de pagina web realizado por
				Gaitan Maximiliano - Lima Natanael - Virreyra Raquel - Loto Mateo.</p>
			<a style="background: #178C71;" href="#" class="btn text-light">Ver
				grupo</a>
		</div>
		<div class="card-footer text-muted">Programacion Visual 2021</div>
	</div>
	<!--    Fin Contendeor 2 -->
	<!--  Footer -->
	<div th:insert="layouts/footer :: foot"></div>

	<!-- JavaScript  Jquery Popper and Bootstrap JS -->
	<script src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
	<script src="/webjars/popper.js/1.16.1/dist/popper.min.js"></script>
	<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>