<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
		<link rel="icon" href="img/dinow.ico">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Empresaurios</title>
	</head>
<body>
	<!--     Inicio Menu -->
	<div th:insert="layouts/menu :: menu"></div>
	<!--    Fin Menu -->

	<!--    Inicio Contendeor 1 -->
	
	<div class="container">
		<div class="row m-0 p-5">
			<!--    Inicio Section Form -->
			<div class="col-12 col-sm-12 col-md-9 col-lg-9 bg-light p-3">
			
				<form th:action="@{/form/saveproduct}" th:object="${product}" method="post">
					
	                <input type="hidden" th:field="*{productCode}"> 
	                <input type="hidden" th:field="*{productLine.productLineId}"> 
	                
					<div class="mb-3">
						<label for="productName" class="form-label">name product</label>
						<input type="text" class="form-control" id="productName" th:field="*{productName}">
					</div>
					
					<div class="mb-3">
						<label for="productScale" class="form-label">productScale</label>
						<input type="number" class="form-control" id="productScale" th:field="*{productScale}">
					</div>
					
					<div class="mb-3">
						<label for="productVendor" class="form-label">productVendor</label>
						<input type="text" class="form-control" id="productVendor" th:field="*{productVendor}">
					</div>
					
					<div class="mb-3">
						<label for="productDescription" class="form-label">productDescription</label>
						<input type="text" class="form-control" id="productDescription" th:field="*{productDescription}">
					</div>
					
					<div class="mb-3">
						<label for="quantityInStock" class="form-label">quantityInStock</label>
						<input type="number" class="form-control" id="quantityInStock" th:field="*{quantityInStock}">
					</div>
					
					<div class="mb-3">
						<label for="buyPrice" class="form-label">buyPrice</label>
						<input type="number" class="form-control" id="buyPrice" th:field="*{buyPrice}">
					</div>
					
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-3">
						 <label for="producto" class="form-label">Product Line</label>
						 <select id="producto" th:field="*{productLine}">
						   	<option th:each="prodLine: ${productLines}" th:value="${prodLine.productLineId}" th:text="${prodLine.textDescription}" th:selected="false">
						 </select>
					</div>
					
					<div class="form-group col-12"><br>
						 <button type="submit" style="background: #178C71;" class="btn text-light">Guardar</button>
					</div>
				
				</form>

			</div>
		</div>
	</div>
	
<!--    Inicio Contendeor 2 -->

	<div class="card text-center">
	
		<div class="card-header">Grupo Empresaurios</div>
		
		<div class="card-body">
			<h5 class="card-title">Alumnos</h5>
			<p class="card-text">Desarrollo de pagina web realizado por
				Gaitan Maximiliano - Lima Natanael - Virreyra Raquel - Loto Mateo.</p>
			<a style="background: #178C71;" href="#" class="btn text-light">
				Ver	grupo
			</a>
		</div>
		
		<div class="card-footer text-muted">Programacion Visual 2021</div>
		
	</div>
	<!--    Fin Contendeor 2 -->
	
	<!--  Footer -->
	<div th:insert="layouts/footer :: foot"></div>

	<!-- JavaScript  Jquery Popper and Bootstrap JS -->
	<script src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
	<script src="/webjars/popper.js/1.16.1/dist/popper.min.js"></script>
	<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>