<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="user-scalable=no, width=device-width, initial-scale=1">
<link rel="icon" href="img/dinow.ico">
<link rel="stylesheet" href="/css/style.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Empresaurios</title>
</head>
<body>
	 <!--     Inicio Header -->
	 <div th:insert="layouts/menu :: menu"></div>
	 <!--    Fin Header -->

<!--    Inicio Contendeor 1 -->
	
	<div class="container">
		<div class="row m-0 p-5">
			<!--    Inicio Section Form -->
			<div class="col-12 col-sm-12 col-md-9 col-lg-9 bg-light p-3">
			
				<form th:action="@{/form/savecustomer}" th:object="${customer}" method="post">
					
                   <input type="hidden" th:field="*{customerNumber}">
				
					<div class="mb-3">
						<label for="customerName" class="form-label">name del Cliente</label>
						<input type="text" class="form-control" id="customerName" th:field="*{customerName}">
						 <small class="form-text text-danger" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></small>
					</div>
					
					<div class="mb-3 ">
				      <label class="form-label" for="phone">phone</label>
				      <div class="input-group mb-2">
				        <div class="input-group-prepend">
				          <div class="input-group-text">388</div>
				        </div>
				        <input type="number" class="form-control" id="phone" th:field="*{phone}" >
				         <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
				      </div>
				    </div>
						
					<div class="mb-3">
						<label for="addressLine" class="form-label">addressLine</label>
						<input type="text" class="form-control" id="addressLine" th:field="*{addressLine}">
						 <small class="form-text text-danger" th:if="${#fields.hasErrors('addressLine')}" th:errors="*{addressLine}"></small>
					</div>
					
					<div class="mb-3">
						<label for="city" class="form-label">city</label>
						<input type="text" class="form-control" id="city" th:field="*{city}">
						 <small class="form-text text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></small>
					</div>
					
					<div class="mb-3">
						<label for="state" class="form-label">state</label>
						<input type="text" class="form-control" id="state" th:field="*{state}">
						 <small class="form-text text-danger" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></small>
					</div>
					
					<div class="mb-3">
						<label for="postalCode" class="form-label">postalCode</label>
						<input type="number" class="form-control" id="postalCode" th:field="*{postalCode}">
						 <small class="form-text text-danger" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></small>
					</div>
					
					<div class="mb-3">
						<label for="country" class="form-label">country</label>
						<input type="text" class="form-control" id="country" th:field="*{country}">
						 <small class="form-text text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></small>
					</div>
					
					<div class="mb-3">
						<label for="creditLimit" class="form-label">creditLimit</label>
						<input type="number" class="form-control" id="creditLimit" th:field="*{creditLimit}">
						 <small class="form-text text-danger" th:if="${#fields.hasErrors('creditLimit')}" th:errors="*{creditLimit}"></small>
					</div>
					
					<div class="form-group col-12"><br>
						 <button type="submit" style="background: #178C71;" class="btn text-light">Guardar</button>
					</div>
				
				</form>

			</div>
		</div>
	</div>


<!--    Inicio Contendeor 2 -->

	<div class="card text-center">
		<div class="card-header">Grupo Empresaurios</div>
		<div class="card-body">
			<h5 class="card-title">Alumnos</h5>
			<p class="card-text">Desarrollo de pagina web realizado por
				Gaitan Maximiliano - Lima Natanael - Virreyra Raquel - Loto Mateo.</p>
			<a style="background: #178C71;" href="#" class="btn text-light">Ver
				grupo</a>
		</div>
		<div class="card-footer text-muted">Programacion Visual 2021</div>
	</div>
	<!--    Fin Contendeor 2 -->
	<!--  Footer -->
	<div th:insert="layouts/footer :: foot"></div>

	<!-- JavaScript  Jquery Popper and Bootstrap JS -->
	<script src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
	<script src="/webjars/popper.js/1.16.1/dist/popper.min.js"></script>
	<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>