<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<title>Empresaurios</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" href="img/dinow.ico">
	<link rel="stylesheet" href="/css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class=" limiter">
		<div class="container-login100 bg-light">
			<div class="wrap-login100" style="box-shadow: 1px 2px 5px #999;">
				<div class="login100-form-title" style="background-image: url(img/p4.jpg);">
					<span class="login100-form-title-1">
						Login Empresaurios
					</span>
				</div>
				
				<div th:if="${param.error}" class="alert alert-danger">Credenciales Incorrectas</div>
			
				<form th:action="@{/login-post}" method="POST" class="login100-form validate-form">
				
				   <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<label for="username" class="form-label">Nombre de Usuario</label>
						<input class="input100" type="text" name="username" placeholder="Ingresar usuario">
				        <span class="focus-input100"></span>
					</div>
				     <div class="wrap-input100 validate-input m-b-26" data-validate="Password is required">
						<label for="username" class="form-label">Nombre de Usuario</label>
						<input class="input100" type="password" name="password" placeholder="Ingresar password">
				        <span class="focus-input100"></span>
					</div>
				
                     <div class="container-login100-form-btn">
                      <button class="btn btn-lg text-light btn-block login100-form-btn p-1" type="submit">Iniciar Sesion</button>
                     </div>
                  
                      <h4 class="col-sm-12 d-flex justify-content-center mt-3"><a  class="text-info" href="/form/registro" >Crear cuenta </a></h4>
				    

				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>