<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
        <link rel="icon" href="img/dinow.ico">
        <link rel="stylesheet" href="/css/style.css">
        	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Empresaurios</title>
    </head>
<body class="bg-light">
    

    <!--    Inicio Contendeor 1 -->
    
    <div class="container mt-5" style="width: 400px;" >
        <div class="row p-5 "  style="margin-top: 200px;" >
            <!--    Inicio Section Form -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-3" style="border-radius:15px; background-color: #FFF;box-shadow: 1px 2px 5px #999;" >
            
                <h4 class="p-2 col-sm-12 d-flex justify-content-center">Registrar Usuario</h4>
            
                <form th:action="@{/form/registro}" th:object="${usuario}" method="POST">
                    
                    <div class="mb-3 mt-3 p-1" >
                        <label for="nombreU" class="form-label">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="nombreU" th:field="*{nombreU}">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nombreU')}" th:errors="*{nombreU}"></small>
                    </div>
                    
                    <div class="mb-3 p-1">
                        <label for="pass" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="pass" th:field="*{pass}">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></small>
                    </div>
                    
                    <div class="mb-3 p-1">
                        <label for="email" class="form-label ">Email</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                    
                    <div class="form-group col-12">
                      <button class="btn btn-lg text-light btn-block p-1" style="background-color: black" type="submit">Registrarme</button>
                     </div>
                     <h4 class="col-sm-12 d-flex justify-content-center mt-3 "><a class="text-info"  href="/login" >Iniciar Sesion</a></h4>
                
                </form>

            </div>
        </div>
    </div>

    <!-- JavaScript  Jquery Popper and Bootstrap JS -->
    <script src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="/webjars/popper.js/1.16.1/dist/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>