<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="img/dinow.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Empresaurios</title>
</head>
<body>

	<div class="foote bg-dark text-white" th:fragment="foot">

		<!-- Footer -->
		<footer>
			<div class="d-flex flex-column justify-content-center align-items-center">
				<p class="mt-3">
					© Todos los derechos reservado por <a class="text-success" href="#">Empresaurios</a>
				</p>
				<ul class="socials list-unstyled p-3 d-flex " >
					<li><a href="#"><i class="text-light fa fa-facebook mr-2 ml-2 "></i></a></li>
					<li><a href="#"><i class="text-light fa fa-twitter mr-2 ml-2"></i></a></li>
					<li><a href="#"><i class="text-light fa fa-google-plus mr-2 ml-2"></i></a></li>
					<li><a href="#"><i class="text-light fa fa-youtube mr-2 ml-2"></i></a></li>
					<li><a href="#"><i class="text-light fa fa-linkedin-square mr-2 ml-2"></i></a></li>
				</ul>
			</div>

		</footer>

	</div>



	<!-- JavaScript  Jquery Popper and Bootstrap JS -->
	<script src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
	<script src="/webjars/popper.js/1.16.1/dist/popper.min.js"></script>
	<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>

</body>
</html>